@import "tailwindcss";

:root {
  --css-blue: #2f34b4;
  --css-purple: #5b2d91;
  --css-green: #3ca049;
  --css-red: #cc484a;
  --css-orange: #e1a65e;
  --css-dark: #0f172a;
}


body {
  font-family: var(--font-space-grotesk), sans-serif;
}
